.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow{
    background-color: yellow;
}

#board {
    display: grid;
    grid-template-columns: repeat(20, 1fr); /* Adjust to boardSize */
    gap: 2px;
    height: auto;
}

.cell {
    width: 20px; /* Adjust to boardSize */
    aspect-ratio: 1 / 1;
    background-color: #ddd;
    border: 1px solid #fff;
}

#controls {
    margin-top: 20px;
    text-align: center;
}
  
.game-buttons{
    position: absolute;
    bottom: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}